{% extends "public/templates/public_template.html" %}

{% block title %}Tietoa{% endblock %}

{% block main %}

<div class="container about-page">

      <h4>Hintalaskuri</h4>
      <p>Ilmainen ja helppokäyttöinen auton hintaa arvioiva sovellus.</p>
      <p>Arvio perustuu tekoälyyn ja tilastolliseen tietoon.</p>
      <p>Arvio voi olla virheellinen tai epätarkka. Palvelun käyttäjä vastaa arvion käyttämisestä.</p>
      <hr>

      <h4>Käytetyt teknologiat</h4>
      <p>JavaScript, HTML, CSS, jQuery, Ajax, Flask, Python, Bootstrap</p>
      <a href="https://github.com/helangor/PriceAnalystWebpage">Projektin GitHub</a>
      <hr>  

      <h4>Tekijä</h4>
      <p>Henrikki Helander: <a href="https://helangor.github.io/portfolio/">Lisää tietoa tekijästä</a></p>
      <p>Projektin data-analytiikkaa hyödynnetty myös seuraavassa projektissa.</p>
      <iframe class="myIframe" width="400px" height="225px" src="https://www.youtube.com/embed/uK3eVwtiEgY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}
